<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionStrings" connectionString="Data Source=CNU131260S\DATAMANAGEMENT;Initial Catalog=Festival;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectFestival.Properties.Settings.Setting" connectionString="Data Source=CNU131260S\DATAMANAGEMENT;Initial Catalog=Festivall;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>